@import "tailwindcss";

@source '../../../../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../../../../storage/framework/views/*.php';

@source '../../views/**/*.blade.php';
@source '../../views/**/*.js';

@source '../../../../../packages/**/resources/views/**/*.blade.php';
@source '../../../../../plugins/**/resources/views/**/*.blade.php';

@source '../../../../../packages/**/resources/js/**/*.js';
@source '../../../../../plugins/**/resources/js/**/*.js';

@theme {
	--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
	'Segoe UI Symbol', 'Noto Color Emoji';
}
